*~
**/.DS_Store
src/public/node_modules
src/public/bower_components
src/public/dist
tests/.ipynb_checkpoints/*
.callflow/*
.vscode/*
data/*
*pyc
.ipynb_checkpoints/*
v1/src/node_modules
v1/src/public/bower_components
v1/src/public/react-redux/node_modules
v1/data/*
v1/old-server
config_files_vidi_machine
src/public/src/App.vue
config_files/barrier.json
config_files/bcast.json
config_files/calc-pi-random.json
config_files/calc-pi-two.json
config_files/gather.json
config_files/gatherv.json
config_files/Kripke-Scaling.json
config_files/Lulesh-Scaling-3-runs.json
config_files/Lulesh-Scaling-8-runs.json
config_files/osu_bcast-rank=10.json
config_files/osu_bcast-rank=12.json
config_files/osu_bcast-rank=18.json
config_files/osu-1.json
config_files/osu-3.json
config_files/osu-50.json
config_files/scatter-1024.json
config_files/scatter.json
config_files/allgather.json
*.ipynb
*.json
*.txt
*.csv
*.h5
