*~
**/.DS_Store
src/public/node_modules
src/public/bower_components
src/public/dist
tests/.ipynb_checkpoints/*
.callflow/*
.vscode/*
data/*
*pyc
.ipynb_checkpoints/*
v1/src/node_modules
v1/src/public/bower_components
v1/src/public/react-redux/node_modules
v1/data/*
v1/old-server
