<v-app id="inspire">
	<v-toolbar
		id="toolbar"
		color="teal"
		dark
		fixed
		app
		clipped-right
	>
		<v-toolbar-side-icon @click.stop="left = !left">
			<v-icon>settings</v-icon>
		</v-toolbar-side-icon>
		<v-toolbar-title style="margin-right: 3em;">{{ appName }}</v-toolbar-title>
		<v-flex
			xs3
			class="ma-2"
		>
			<v-select
				label="Select Target run (Sorted by inclusive runtime)"
				:items="datasets"
				v-if="selectedMode == 'Ensemble' && selectedFormat == 'SuperGraph'"
				v-model="selectedTargetDataset"
				:menu-props="{ maxHeight: '400' }"
				box
				v-on:change="updateTargetDataset()"
			>
				<template
					slot="selection"
					slot-scope="{item}"
				>
					{{ datasets.indexOf(item) + 1}}. {{ item }} - {{ formatRuntimeWithoutUnits(metricTimeMap[item]) }}
				</template>
				<template
					slot="item"
					slot-scope="{item}"
				>
					{{ datasets.indexOf(item) + 1 }}. {{ item }} - {{ formatRuntimeWithoutUnits(metricTimeMap[item]) }}
				</template>

			</v-select>
			<v-select
				label="Select a run"
				:items="datasets"
				v-if="selectedMode == 'Single' || selectedFormat == 'CCT'"
				v-model="selectedTargetDataset"
				:menu-props="{ maxHeight: '400' }"
				box
				v-on:change="updateTargetDataset()"
			>
			</v-select>
		</v-flex>
		<v-flex
			xs3
			class="ma-2"
		>
			<v-select
				label="Select Compare run"
				:items="datasets"
				v-if="selectedMode == 'Ensemble' && selectedFormat == 'SuperGraph'"
				v-model="selectedCompareDataset"
				:menu-props="{ maxHeight: '400' }"
				box
				v-on:change="updateCompareDataset()"
			>
				<template
					slot="selection"
					slot-scope="{item}"
				>
					{{ datasets.indexOf(item) + 1}}. {{ item }} - {{ formatRuntimeWithoutUnits(metricTimeMap[item]) }}
				</template>
				<template
					slot="item"
					slot-scope="{item}"
				>
					<!-- HTML that describe how select should render items when the select is open -->
					{{ datasets.indexOf(item) + 1}}. {{ item }} - {{ formatRuntimeWithoutUnits(metricTimeMap[item]) }}
				</template>
			</v-select>
		</v-flex>
		<v-spacer></v-spacer>

		<v-flex
			xs2
			class="ma-1"
		>
			<v-select
				label="Graph to visualize"
				:items="formats"
				v-model="selectedFormat"
				:menu-props="{ maxHeight: '400' }"
				box
				v-on:change="updateFormat()"
			>
			</v-select>
		</v-flex>
		<v-flex xs2>
			<v-select
				label="Analysis Mode"
				:items="modes"
				v-model="selectedMode"
				box
				:menu-props="{ maxHeight: '400' }"
				v-on:change="updateMode()"
			></v-select>
		</v-flex>
	</v-toolbar>

	<v-navigation-drawer
		v-model="left"
		temporary
		fixed
	>
		<v-btn
			slot="activator"
			color="primary"
			dark
		>Open Dialog</v-btn>
		<v-card
			flex
			fill-height
			id="control-panel"
		>
			<v-layout
				row
				wrap
			>
				<v-btn icon>
					<v-icon v-on:click="reset()">refresh</v-icon>
				</v-btn>
				<!-- <v-flex xs12 class="ma-1">
					<v-subheader class="teal center lighten-4">Pre-processing</v-subheader>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<UploadButton title="Upload the config file" :selectedCallback="fileSelected"></UploadButton>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-select label="Group By" :items="groupBy" v-model="selectedGroupBy"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateGroupBy()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Filter By" :items="filterBy" v-model="selectedFilterBy"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateFilterBy()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-text-field label="Filter Threshold (in seconds)" v-model="selectedIncTime" class="mt-0"
						type="number" @change="updateFilterIncTime"></v-text-field>
					<vue-slider id="frequency-slider" :width="200" :process="true" v-model="selectedFilterPerc" :tooltip="'always'"  :tooltip-placement="'top'"
						:order="false" @change="updateFilterPerc">
						<template #prepend>
							<v-text-field v-model="filterPercRange[[0, selectedFilterPerc]]" class="pt-0 mt-0"
								hide-details single-line type="number" style="width: 30px">
							</v-text-field>
						</template>
					</vue-slider>
				</v-flex>
				<v-divider></v-divider> -->

				<!-- --------------------------- General Information ----------------------------------->
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader class="teal lighten-4">General</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<!-- <v-select label="Case study" :items="caseStudy" v-model="selectedCaseStudy"
						:menu-props="{ maxHeight: '400' }" box v-on:change="updateCaseStudy()">
					</v-select> -->
					<v-text-field
						rows="1"
						label="Simulation"
						v-model="selectedCaseStudy"
						readonly
					>
					</v-text-field>
				</v-flex>

				<!-- --------------------------- Visual Encoding ----------------------------------->
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader class="teal lighten-4">Visual Encoding</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader>
						{{targetInfo}}
						<v-spacer></v-spacer>
						<v-spacer></v-spacer>
						<v-switch
							v-model="showTarget"
							v-on:change="updateTargetColor()"
							color="#009687"
						>
						</v-switch>
					</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-select
						label="Metric"
						:items="metrics"
						v-model="selectedMetric"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateMetric()"
					>
					</v-select>
				</v-flex>

				<v-flex
					xs12
					class="ma-1"
				>
					<v-select
						label="Difference mode"
						:items="compareModes"
						v-model="selectedCompareMode"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateCompareMode()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-text-field
						label="Number of bins for Run Distribution"
						class="mt-0"
						type="number"
						v-model="selectedRunBinCount"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateRunBinCount()"
					>
					</v-text-field>
				</v-flex>

				<!-- --------------------------- Hierarchy ----------------------------------->
				<!-- <v-flex xs12 class="ma-1">
					<v-subheader class="teal lighten-4">SuperNode Hierarchy</v-subheader>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat =='SuperGraph'">
					<v-select label="Assign width by" :items="hierarchyModes" v-model="selectedHierarchyMode"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateHierarchyMode()">
					</v-select>
				</v-flex> -->
				<!-- <v-flex xs12 class="ma-1">
					<v-subheader class="teal lighten-4">Distribution</v-subheader>
				</v-flex> -->
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-text-field
						label="Number of bins for MPI Distribution"
						class="mt-0"
						type="number"
						v-model="selectedMPIBinCount"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateMPIBinCount()"
					>
					</v-text-field>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-select
						label="Scale"
						:items="scales"
						v-model="selectedScale"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateScale()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-select
						label="Bin by attribute"
						:items="props"
						v-model="selectedProp"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateProp()"
					>
					</v-select>
				</v-flex>

				<!-- --------------------------- Encoding ----------------------------------->
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader class="teal lighten-4">Colors</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-select
						label="Runtime Color Map"
						:items="runtimeColorMap"
						v-model="selectedRuntimeColorMap"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateColors()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-select
						label="Distribution Color Map"
						:items="distributionColorMap"
						v-model="selectedDistributionColorMap"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateColors()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-select
						label="Target Color"
						:items="targetColors"
						v-model="selectedTargetColorText"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateTargetColor()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-text-field
						label="Color points (3-9)"
						class="mt-0"
						type="number"
						v-model="selectedColorPoint"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateColors()"
					>
					</v-text-field>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-text-field
						label="Color minimum (in seconds)"
						class="mt-0"
						type="number"
						v-model="selectedColorMinText"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateColors()"
					>
					</v-text-field>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-text-field
						label="Color maximum (in seconds)"
						class="mt-0"
						type="number"
						v-model="selectedColorMaxText"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateColors()"
					>
					</v-text-field>
				</v-flex>

				<!----------------------------- Callsite information ----------------------------------->
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader class="teal lighten-4">Call site Correspondence</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-select
						label="Sort by"
						:items="sortByModes"
						v-model="selectedRuntimeSortBy"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateRuntimeSortBy()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-text-field
						label="IQR Factor"
						class="mt-0"
						type="float"
						v-model="selectedIQRFactor"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateIQRFactor()"
					>
					</v-text-field>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
				>
					<v-subheader class="teal lighten-4">Projection view</v-subheader>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-text-field
						label="Number of clusters"
						class="mt-0"
						type="float"
						v-model="selectedNumOfClusters"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updateNumOfClusters()"
					>
					</v-text-field>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-select
						label="PC1"
						:items="dimensions"
						v-model="selectedPC1"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updatePC1()"
					>
					</v-select>
				</v-flex>
				<v-flex
					xs12
					class="ma-1"
					v-show="selectedFormat =='SuperGraph'"
				>
					<v-select
						label="PC2"
						:items="dimensions"
						v-model="selectedPC2"
						:menu-props="{ maxHeight: '200' }"
						persistent-hint
						v-on:change="updatePC2()"
					>
					</v-select>
				</v-flex>
				<!-- <v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-select label="Scatter mode" :items="scatterMode" v-model="selectedScatterMode"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateScatterMode()">
					</v-select>
				</v-flex> -->
				<!-- <v-flex xs12 class="ma-1" v-show="selectedFormat == 'CCT'">
					<v-text-field label="Min. number of functions in CCT" class="mt-0" type="number"
						v-model="selectedFunctionsInCCT" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateFunctionsInCCT()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat == 'Callgraph' && selectedMode == 'Ensemble'">
					<v-select label="Align node to" :items="diffNodeAlignment" v-model="selectedDiffNodeAlignment"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateDiffNodeAlignment()">
					</v-select>
				</v-flex> -->
			</v-layout>
		</v-card>
	</v-navigation-drawer>

	<v-content class="pt-auto">
		<v-layout v-show="selectedFormat == 'SuperGraph' && selectedMode == 'Single'">
			<splitpanes
				id="callgraph-dashboard"
				class="default-theme"
			>
				<splitpanes
					horizontal
					:splitpanes-size="25"
				>
					<span>
						<SingleHistogram ref="SingleHistogram" />
					</span>
					<span>
						<RuntimeScatterplot ref="RuntimeScatterplot" />
					</span>
				</splitpanes>
				<splitpanes
					horizontal
					:splitpanes-size="55"
				>
					<span>
						<!-- <EnsembleSuperGraph ref="EnsembleSuperGraph" /> -->
					</span>
				</splitpanes>
				<splitpanes
					horizontal
					:splitpanes-size="20"
				>
					<span>
						<Function ref="Function" />
					</span>
				</splitpanes>
			</splitpanes>
		</v-layout>

		<v-layout v-show="selectedFormat == 'CCT' && selectedMode == 'Single'">
			<splitpanes id="single-cct-dashboard">
				<span>
					<SingleCCT ref="SingleCCT" />
				</span>
			</splitpanes>
		</v-layout>

		<v-layout v-show="selectedMode == 'Ensemble' && selectedFormat == 'SuperGraph'">
			<splitpanes
				id="ensemble-supergraph-dashboard"
				class="default-theme"
				v-show="selectedData == 'Dataframe' && parameter_analysis == true"
			>
				<splitpanes
					horizontal
					:splitpanes-size="25"
				>
					<!-- <span>
						<RunInformation ref="RunInformation" />
					</span> -->
					<span>
						<ModuleHierarchy ref="ModuleHierarchy" />
					</span>
					<span>
						<EnsembleScatterplot ref="EnsembleScatterplot" />
					</span>
					<span>
						<EnsembleHistogram ref="EnsembleHistogram" />
					</span>

				</splitpanes>
				<splitpanes
					horizontal
					:splitpanes-size="55"
				>
					<span>
						<v-layout class="chip-container">
							<v-chip
								class="chip"
								chips
								color="teal"
								label
								outlined
								clearable
							> {{ summaryChip }}
							</v-chip>
							<v-spacer></v-spacer>
							<span class="component-info">
								Encoding = {{selectedMetric}} runtime.
							</span>
						</v-layout>
						<EnsembleSuperGraph ref="EnsembleSuperGraph" />
					</span>
				</splitpanes>
				<splitpanes
					horizontal
					:splitpanes-size="20"
				>
					<span>
						<AuxiliaryFunction ref="AuxiliaryFunction" />
					</span>
					<span>
						<ParameterProjection
							ref="ParameterProjection"
							@compare="updateCompareMode"
						/>
					</span>
					<!-- <span>
						<SimilarityMatrix ref="SimilarityMatrix" />
					</span> -->
					<!-- <span>
						<EnsembleDistribution ref="EnsembleDistribution" />
					</span> -->

				</splitpanes>

			</splitpanes>
		</v-layout>

		<v-layout v-show="selectedFormat == 'CCT' && selectedMode == 'Ensemble'">
			<splitpanes id="ensemble-cct-dashboard">
				<splitpanes
					horizontal
					:splitpanes-size="100"
				>
					<span>
						<EnsembleCCT ref="EnsembleCCT" />
					</span>
					</span>
				</splitpanes>
			</splitpanes>
		</v-layout>

		<v-layout v-show="selectedFormat == 'CCT' && selectedMode == 'Compare'">
			<splitpanes id="compare-cct-dashboard">
				<splitpanes
					horizontal
					:splitpanes-size="50"
				>
					<span>
						<EnsembleCCT ref="EnsembleCCT1" />
					</span>
					</span>
				</splitpanes>
				<splitpanes
					horizontal
					:splitpanes-size="50"
				>
					<span>
						<EnsembleCCT ref="EnsembleCCT2" />
					</span>
					</span>
				</splitpanes>
			</splitpanes>
		</v-layout>
	</v-content>

	<v-footer id="footer" color="teal" class="white-text" app>
		Lawrence Livermore National Laboratory and VIDi Labs, University of California, Davis
		<v-spacer></v-spacer>
		<span>&copy; 2017 - 2020</span>
	</v-footer>

</v-app>