/** 
 * Copyright 2017-2020 Lawrence Livermore National Security, LLC and other
 * CallFlow Project Developers. See the top-level LICENSE file for details.
 * 
 * SPDX-License-Identifier: MIT
 */

.drawn {
    fill: rgba(255, 255, 255, 0.5);
    stroke: #009688;
    stroke-width: 1.5px;
}
  
.origin {
    fill: #009688;
    opacity: 0.5;
}