/** 
 * Copyright 2017-2020 Lawrence Livermore National Security, LLC and other
 * CallFlow Project Developers. See the top-level LICENSE file for details.
 * 
 * SPDX-License-Identifier: MIT
 */
 
.node rect {
    stroke: #333;
    fill: #fff;
}
  
.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.node circle {
    stroke: black;
    stroke-width: 0.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 5px;
}