<v-app id="inspire">
  <v-toolbar color="blue-grey" dark fixed app clipped-right>
    <v-toolbar-side-icon @click.stop="left = !left">
    </v-toolbar-side-icon>
    <v-toolbar-title style="margin-right: 3em;">{{ appName }}</v-toolbar-title>
    <v-flex xs2 class="ma-2">
      <v-select label="TimeMode" :items="timeDomains" v-model="selectedTimeDomain" :menu-props="{ maxHeight: '400' }"
        box v-on:change="updateTimeDomain()">
      </v-select>
    </v-flex>
    <v-flex xs2 class="ma-2">
      <v-select label="Granularity" :items="granularity" v-model="selectedGranularity" :menu-props="{ maxHeight: '400' }" box
        v-on:change="updateGran()">
      </v-select>
    </v-flex>
    <v-spacer></v-spacer>
    <v-flex xs2>
      <v-select label="Analysis Mode" :items="modes" v-model="selectedMode" box :menu-props="{ maxHeight: '400' }"
      v-on:change="updateMode()"></v-select>
    </v-flex>
  </v-toolbar>

  <v-navigation-drawer v-model="left" temporary fixed>
      <v-btn slot="activator" color="primary" dark>Open Dialog</v-btn>
      <v-card flex fill-height id="control-panel">
        <v-layout row wrap>
            <v-switch :label="`Aggr`" v-model="isAggregated" v-on:change="visualize()"></v-switch>
            <v-btn icon>
                <v-icon v-on:click="reset()">refresh</v-icon>
            </v-btn>
            <v-flex xs12 class="ma-1">
                <v-select label="1st Plot Metric" :items="metrics" multiple v-model="plotMetric1"
                    :menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updatePlotMetric1()">
                </v-select>
            </v-flex>
            <v-flex xs12 class="ma-1">
              <v-select label="2nd Plot Metric" :items="metrics" multiple v-model="plotMetric2"
                  :menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updatePlotMetric2()">
              </v-select>
            </v-flex>
            <v-flex xs12 class="ma-1">
                <v-select label="Change Point Detection" :items="cpd" v-model="selectedcpd" v-on:change="visualize()">
                </v-select>
            </v-flex>
            <v-flex xs12 class="ma-1">
                <v-select label="Dimensionality reduction" :items="dimred" v-model="selectedDimred" v-on:change="visualize()">
                </v-select>
            </v-flex>
            <v-flex xs12 class="ma-1">
                <v-select label="Similarity measure" :items="similarity" v-model="selectedSimilarity"
                    v-on:change="visualize()">
                </v-select>
            </v-flex>
            <v-flex xs12 class="ma-1">
                <v-select label="Clustering" :items="clustering" v-model="selectedClustering" v-on:change="visualize()">
                </v-select>
            </v-flex>
    
            <v-spacer></v-spacer>
        </v-layout>
    </v-card>
  </v-navigation-drawer>

  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">Server Settings</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-alert :value="socketError" color="error">
              Cannot connect to server!
            </v-alert>
            <v-flex>
              <v-select :items="modes" label="App Mode" v-model="selectedMode" box></v-select>
            </v-flex>
            <v-flex xs12>
              <v-text-field box label="Server Address" v-model="server" required></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-flex justify-cente>
          <v-btn color="primary" @click="init()">
            Start
          </v-btn>
        </v-flex>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-content class="pt-auto" fill-height id="dashboard">
    <v-flex>
        <StreamBoard ref="StreamBoard"
          v-bind:plot-metric1="plotMetric1"
          v-bind:plot-metric2="plotMetric2" 
          v-bind:granularity="selectedGranularity"
          v-bind:time-domain="selectedTimeDomain"
          v-bind:measure="selectedMeasure" />
        <!--HocBoard ref="HocBoard" v-bind:class="{hidden: selectedMode != 'In Situ'}"-->
    </v-flex>
   
  </v-content>
  <!-- <v-footer color="blue-grey" class="white--text" app> -->
  <!-- <span> VIDi Labs, University of California, Davis </span>  
          <v-spacer></v-spacer>
          <span>&copy; 2018</span> -->
  <!-- </v-footer> -->
</v-app>