<v-card :id="id">
    <v-layout class="chip-container">
        <v-chip class="chip" chips close color="teal" label outlined clearable> {{ message }} </v-chip>
    </v-layout>
    <template>
        <md-table v-model="people" md-card @md-selected="onSelect">
            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                <!-- <md-table-cell :md-label="dataset" :md-sort-by="dataset"> {{ dataset(labels) }} </md-table-cell> -->
                <!-- <md-table-cell v-for="(key, idx) in item" :md-label="changeText(idx)" :md-sort-by="getLabel(idx)"> {{ key }} </md-table-cell> -->

                <md-table-cell md-label="dataset" md-sort-by="dataset">{{ item.dataset }}</md-table-cell>

                <!-- <md-table-cell md-label="Gender" md-sort-by="gender">{{ item.gender }}</md-table-cell>
                    <md-table-cell md-label="Job Title" md-sort-by="title">{{ item.title }}</md-table-cell> -->
            </md-table-row>
        </md-table>

    </template>
</v-card>