<v-app id="inspire">
	<v-toolbar id="toolbar" color="teal" dark fixed app clipped-right>
		<v-toolbar-side-icon @click.stop="left = !left">
		</v-toolbar-side-icon>
		<v-toolbar-title style="margin-right: 3em;">{{ appName }}</v-toolbar-title>
		<v-flex xs2 class="ma-2">
			<v-select label="Select Target run" :items="datasets"
				v-if="selectedMode == 'Ensemble' && selectedFormat == 'Callgraph'" v-model="selectedTargetDataset"
				:menu-props="{ maxHeight: '400' }" box v-on:change="updateTargetDataset()">
			</v-select>
			<v-select label="Select a run" :items="datasets" v-if="selectedMode == 'Single' || selectedFormat == 'CCT'"
				v-model="selectedTargetDataset" :menu-props="{ maxHeight: '400' }" box
				v-on:change="updateTargetDataset()">
			</v-select>
		</v-flex>
		<v-flex xs2 class="ma-2">
			<v-select label="Select Compare run" :items="datasets"
				v-if="selectedMode == 'Ensemble' && selectedFormat == 'Callgraph'" v-model="selectedCompareDataset"
				:menu-props="{ maxHeight: '400' }" box v-on:change="updateCompareDataset()">
			</v-select>
		</v-flex>
		<v-spacer></v-spacer>
		<!-- <v-flex xs2 class="ma-1">
			<v-select label="Exhibit mode" :items="exhibitModes" v-model="selectedExhibitMode"
				:menu-props="{ maxHeight: '400' }" box v-on:change="updateExhibitMode()">
			</v-select>
		</v-flex> -->
		<v-flex xs2 class="ma-1">
			<v-select label="Graph to visualize" :items="formats" v-model="selectedFormat"
				:menu-props="{ maxHeight: '400' }" box v-on:change="updateFormat()">
			</v-select>
		</v-flex>
		<v-flex xs2>
			<v-select label="Analysis Mode" :items="modes" v-model="selectedMode" box :menu-props="{ maxHeight: '400' }"
				v-on:change="updateMode()"></v-select>
		</v-flex>
	</v-toolbar>

	<v-navigation-drawer v-model="left" temporary fixed>
		<v-btn slot="activator" color="primary" dark>Open Dialog</v-btn>
		<v-card flex fill-height id="control-panel">
			<v-layout row wrap>
				<v-btn icon>
					<v-icon v-on:click="reset()">refresh</v-icon>
				</v-btn>
				<!-- <v-flex xs12 class="ma-1">
					<v-subheader class="teal center lighten-4">Pre-processing</v-subheader>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<UploadButton title="Upload the config file" :selectedCallback="fileSelected"></UploadButton>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-select label="Group By" :items="groupBy" v-model="selectedGroupBy"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateGroupBy()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Filter By" :items="filterBy" v-model="selectedFilterBy"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateFilterBy()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-text-field label="Filter Threshold (in seconds)" v-model="selectedIncTime" class="mt-0"
						type="number" @change="updateFilterIncTime"></v-text-field>
					<vue-slider id="frequency-slider" :width="200" :process="true" v-model="selectedFilterPerc" :tooltip="'always'"  :tooltip-placement="'top'"
						:order="false" @change="updateFilterPerc">
						<template #prepend>
							<v-text-field v-model="filterPercRange[[0, selectedFilterPerc]]" class="pt-0 mt-0"
								hide-details single-line type="number" style="width: 30px">
							</v-text-field>
						</template>
					</vue-slider>
				</v-flex>
				<v-divider></v-divider> -->
				<v-flex xs12 class="ma-1">
					<v-subheader class="teal lighten-4">Encoding</v-subheader>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Metric" :items="metrics" v-model="selectedMetric"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateMetric()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Runtime Color Map" :items="runtimeColorMap" v-model="selectedRuntimeColorMap"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateRuntimeColorMap()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Distribution Color Map" :items="distributionColorMap" v-model="selectedDistributionColorMap"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateDistributionColorMap()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-text-field label="Color points (3-9)" class="mt-0" type="number" v-model="selectedColorPoint"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateColor()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-text-field label="Color minimum (in seconds)" class="mt-0" type="number"
						v-model="selectedColorMinText" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateColorMinMax()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-text-field label="Color maximum (in seconds)" class="mt-0" type="number"
						v-model="selectedColorMaxText" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateColorMinMax()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-subheader class="teal lighten-4">Comparison</v-subheader>
				</v-flex>
				<v-flex xs12 class="ma-1">
					<v-select label="Select Comparison mode" :items="compareModes" v-model="selectedCompareMode"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateCompareMode()">
					</v-select>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-text-field label="Number of bins in Histogram" class="mt-0" type="number"
						v-model="selectedBinCount" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateBinCount()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-text-field label="Outlier Bands" class="mt-0" type="number"
						v-model="selectedOutlierBand" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateOutlierBand()">
					</v-text-field>
				</v-flex>
				<!-- <v-flex xs12 class="ma-1" v-show="selectedFormat =='Callgraph'">
					<v-select label="Scatter mode" :items="scatterMode" v-model="selectedScatterMode"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateScatterMode()">
					</v-select>
				</v-flex> -->
				<!-- <v-flex xs12 class="ma-1" v-show="selectedFormat == 'CCT'">
					<v-text-field label="Min. number of functions in CCT" class="mt-0" type="number"
						v-model="selectedFunctionsInCCT" :menu-props="{ maxHeight: '200' }" persistent-hint
						v-on:change="updateFunctionsInCCT()">
					</v-text-field>
				</v-flex>
				<v-flex xs12 class="ma-1" v-show="selectedFormat == 'Callgraph' && selectedMode == 'Ensemble'">
					<v-select label="Align node to" :items="diffNodeAlignment" v-model="selectedDiffNodeAlignment"
						:menu-props="{ maxHeight: '200' }" persistent-hint v-on:change="updateDiffNodeAlignment()">
					</v-select>
				</v-flex> -->
			</v-layout>
		</v-card>
	</v-navigation-drawer>

	<v-content class="pt-auto">
		<v-layout v-show="selectedFormat == 'Callgraph' && selectedMode == 'Single'">
			<splitpanes id="callgraph-dashboard" class="default-theme" v-show="selectedData == 'Dataframe'">
				<splitpanes horizontal :splitpanes-size="30">
					<span>
						<Scatterplot ref="Scatterplot" />
					</span>
					<span>
						<Histogram ref="Histogram" />
					</span>

				</splitpanes>
				<splitpanes horizontal :splitpanes-size="70">
					<span>
						<Callgraph ref="CallgraphA" />
					</span>
					<span>
						<!-- <Callgraph2 ref="Callgraph2" /> -->
					</span>
				</splitpanes>
			</splitpanes>

			<splitpanes id="callgraph-dashboard-2" class="default-theme" v-show="selectedData == 'Graph'">
				<splitpanes horizontal :splitpanes-size="30">
					<span>
						<Function ref="Function" />
					</span>
					<span>
						<Icicle ref="Icicle" />
					</span>
				</splitpanes>
				<splitpanes horizontal :splitpanes-size="70">
					<span>
						<Callgraph ref="CallgraphB" />
					</span>
					<span>
						<!-- <Callgraph2 ref="Callgraph2" /> -->
					</span>
				</splitpanes>
			</splitpanes>

		</v-layout>

		<v-layout v-show="selectedFormat == 'CCT'">
			<splitpanes id="cct-dashboard">
				<span>
					<CCT ref="CCT" />
				</span>
			</splitpanes>
		</v-layout>

		<v-layout v-show="selectedMode == 'Ensemble' && selectedFormat == 'Callgraph'">
			<splitpanes id="diffgraph-dashboard" class="default-theme" v-show="selectedData == 'Dataframe' && parameter_analysis == true">
				<splitpanes horizontal :splitpanes-size="20">
					<!-- <span>
						<RunInformation ref="RunInformation" />
					</span>
					<span>
						<Projection ref="Projection" @compare="updateCompareMode" />
					</span> -->
					<span>
						<SimilarityMatrix ref="SimilarityMatrix" />
					</span>

				</splitpanes>
				<splitpanes horizontal :splitpanes-size="80">
					<span>
						<v-layout class="chip-container">
							<v-chip class="chip" chips color="teal" label outlined clearable> {{ summaryChip }}
							</v-chip>
						</v-layout>
						<Distgraph ref="DistgraphA" />
					</span>
				</splitpanes>
				<splitpanes horizontal :splitpanes-size="20">
					<span>
						<AuxiliaryFunction ref="AuxiliaryFunction" />
					</span>
					<span>
						<Icicle ref="Icicle" />
					</span>
					<span>
						<DistHistogram ref="DistHistogram" />
					</span>
				</splitpanes>

			</splitpanes>
			<!-- <splitpanes id="diffgraph-dashboard-2" class="default-theme" v-show="selectedData == 'Graph'">
				<splitpanes horizontal :splitpanes-size="30">
					<span>
						<diffFunction ref="DiffFunction" />
					</span>
					<span>
						<DiffHistogram ref="DiffHistogram" />
						<diffIcicle ref="DiffIcicle" />
					</span>
				</splitpanes>
				<splitpanes horizontal :splitpanes-size="70">
					<span>
						<Distgraph ref="DistgraphB" />
					</span>
				</splitpanes>
			</splitpanes> -->
		</v-layout>

		<v-layout v-show="selectedFormat == 'CCT' && selectedMode == 'Ensemble'">
			<splitpanes id="cct-dashboard">
				<splitpanes horizontal :splitpanes-size="50">
					<span>
						<!-- <DiffCCT ref="DiffCCT1" id="diff-cct-1"/> -->
					</span>
					a
					</span>
				</splitpanes>
			</splitpanes>
		</v-layout>
	</v-content>

	<v-footer id="footer" color="teal" class="white--text" app>
		<span> Lawrence Livermore National Laboratory and VIDi Labs, University of California, Davis </span>
		<v-spacer></v-spacer>
		<span>&copy; 2017 - 2019</span>
	</v-footer>

</v-app>