<v-layout row wrap id="diff-icicle-overview">
        <v-toolbar dense id="diff-icicle-toolbar">
            <dropdown v-bind:options="splitOptions" :selected="selectedSplitOption" v-on:updateOption="split()" :placeholder="placeholder">
            </dropdown>
            <v-range-slider label="Level" v-model="level" v-bind:max="maxLevel" :min="0" :step="1">
                <template #prepend>
                    <v-text-field v-model="level[0]" class="pa-0" hide-details single-line type="number"
                        style="width: 30px">
                    </v-text-field>
                    <v-text-field v-model="level[1]" class="pa-0" hide-details single-line type="number"
                        style="width: 30px">
                    </v-text-field>
                </template>
            </v-range-slider>
        </v-toolbar>
    </v-layout>
